@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(/css/source-sans-pro-light.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(/css/source-sans-pro-semibold.woff) format('woff');
}

.displayNone {
  display: none;
}

.dropotron li{
  display: block !important;
  margin-left: 1em !important;
}

header {
  margin-bottom: 0 !important;
}
.inline {
  display: inline !important;
}

.feature {
  margin-top: 2em;
}

header a {
  margin-left: 10px;
}

#footer {
  height: 300px;
  overflow: scroll;
}

#nav {
  text-align: right !important;
}

.noMarginBotton {
  margin-bottom: 0 !important;
}
